
:root {
    --flow-space: 0.5rlh; 
  }

  article > *{
    margin: var(--flow-space) 0;
  }
  
  h2 {
    --flow-space: 2rlh; 
    margin: var(--flow-space) 0;
  }
  
  h3 {
    --flow-space: 1rlh;
    margin: var(--flow-space) 0;
  }
  
  h3 + p {
    --flow-space: 0.25rlh;
    margin: var(--flow-space) 0;
  }
  